<app-header></app-header>
<a routerLink="" style="text-decoration: none;margin-left:6%;"><button style="cursor: pointer;margin-top: 10px" class="w3-button w3-gray">Back</button></a>
<div class="row">
    <div class="column">
        <form>
            <div class="container" style="margin-left: 12%;margin-right: 5%;">
                <h1>User Registration</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <label for="name"><b>Username</b></label>
                <input type="text" [(ngModel)]="user.username" placeholder="Enter Name" name="name" class="form-control"
                    id="name" required minlength="3" maxlength="20">

                <label for="email"><b>Email</b></label>
                <input type="email" [(ngModel)]="user.email" placeholder="Enter Email" name="emailId"
                    class="form-control" id="emailId" required>

                <label for="password"><b>Password</b></label>
                <input type="password" [(ngModel)]="user.password" placeholder="Enter Password" name="password"
                    class="form-control" id="password" required minlength="6">
                <button type="submit" class="registerbtn" (click)="registerUser()">Register</button>
            </div>

        </form>
    </div>
    <div class="column">
        <form>
            <div class="container" style="margin-left: 7%;margin-right: 12%;">
                <h1>User Login</h1>
                <p>Please enter your user credentials.</p>
                <hr>
                <label for="email"><b>Email</b></label>
                <input type="text" [(ngModel)]="userLogin.emailId" placeholder="Enter Email" name="emailId"
                    class="form-control" id="emailId" required>

                <label for="password"><b>Password</b></label>
                <input type="password" [(ngModel)]="userLogin.password" placeholder="Enter Password" name="password"
                    class="form-control" id="password" required>
                <button type="submit" class="registerbtn" (click)="loginUser()">Login</button>
            </div>

        </form>
    </div>
</div>