<div class="header">
    <a class="logo">Flight Booking Application</a>
    <div class="header-right">
        <a class="active" (click)="gotoFlightBooking()">New Booking</a>
        <a (click)="gotoView()">View Booking</a>
        <a (click)="logout()" style="color: red;font-weight: 500;">Sign Out</a>
    </div>
</div>

<div class="w3-container w3-responsive"
    style="padding-top: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div class="w3-row-padding" style="margin-left:30%">
        <div style="float: left;">
            <label style="font-weight: bold; font-size: large;">From Place</label>
            <select [(ngModel)]="fromPlace" placeholder="Enter From Place" name="fromPlace" class="form-control"
                id="fromPlace">
                <option *ngFor="let place of places" value={{place}}>{{place}}</option>
            </select>
        </div>
        <div style="float: left; margin-left: 10px;">
            <label style="font-weight: bold; font-size: large;">To Place</label>
            <select [(ngModel)]="toPlace" placeholder="Enter To Place" name="toPlace" class="form-control" id="toPlace">
                <option *ngFor="let place of places" value={{place}}>{{place}}</option>
            </select>
        </div>
        <div style="float: left;margin-left: 10px; margin-top: 45px">
            <button class="button" style="background-color: steelblue;" type="submit" (click)="getSearch()"> Search
            </button>
        </div>
    </div>
    <br />
    <div *ngIf="!tableStatus" style="background-color: lightgoldenrodyellow;">
        <h3 style="margin-left: 15px; font-size: larger;" style="color: indianred">{{message}}</h3>
    </div>
    <table class="w3-table-all w3-card-4 w3-hoverable" *ngIf="tableStatus">
        <thead>
            <tr style="background-color: lightgray;font-size: medium;">
                <th>Flight Number</th>
                <th>Airline Name</th>
                <th>From Place</th>
                <th>To Place</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Scheduled Days</th>
                <th>Business Class Seats</th>
                <th>Non-Business Class Seats</th>
                <th>Rows</th>
                <th>Meals</th>
                <th>Discount Code</th>
                <th>Ticket Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flightDetails;" (click)="getFlightDetails(flight)">
                <td>{{flight.flightNumber}}</td>
                <td>{{flight.airline}}</td>
                <td>{{flight.fromPlace}}</td>
                <td>{{flight.toPlace}}</td>
                <td>{{flight.startDateTime}}</td>
                <td>{{flight.endDateTime}}</td>
                <td>{{flight.scheduledDays}}</td>
                <td>{{flight.nosOfBusinessClassSeats}}</td>
                <td>{{flight.nosOfNonBusinessClassSeats}}</td>
                <td>{{flight.nosOfRows}}</td>
                <td>{{flight.meals}}</td>
                <th>{{flight.discountCode}}</th>
                <td>{{flight.ticketCost}}</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="container" *ngIf="tableStatus">
    <h1 class="text-center">Book Tickets</h1>
    <div *ngIf="status" style="background-color: lightgoldenrodyellow;">
        <span
            style="margin-left: 15px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: larger;"><b
                style="color: blue;">Warning: </b><b>{{message}}</b></span>
    </div>
    <form name="ticketBookingForm">
        <div class="form-group row">
            <div class="col-25">
                <label for="flightNumber">Flight Number:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.flightNumber" placeholder="Flight Number"
                    name="flightNumber" class="form-control" id="flightNumber" readonly>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-25">
                <label for="name">Name:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.name" placeholder="Name" name="name"
                    class="form-control" id="name" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="emailId">Email Id:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.emailId" placeholder="Email Id" name="emailId"
                    class="form-control" id="emailId" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="numberOfSeats">Number of Seats:</label>
            </div>
            <div class="col-75">
                <input type="number" [(ngModel)]="bookingDetailsDisplay.numberOfSeats" placeholder="Number of Seats"
                    name="numberOfSeats" class="form-control" id="numberOfSeats" min=1 required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="seatType">Seat Type:</label>
            </div>
            <div class="col-75">
                <input class="w3-radio" type="radio" value="Business Class" id="seatType" name="seatType"
                    [(ngModel)]="bookingDetailsDisplay.seatType" (change)="loadCost($event)"> Business Class
                <input class="w3-radio" type="radio" value="Non - Business Class" id="seatType" name="seatType"
                    [(ngModel)]="bookingDetailsDisplay.seatType" (change)="loadCost($event)" checked> Non-Business Class
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="mealOption">Meal Options:</label>
            </div>
            <div class="col-75">
                <span style="color: red;font-size: small">*Extra of Rs 100 for Veg and Rs 200 for Non-Veg will be
                    charged</span>
                <br />
                <span *ngFor="let menu of foodMenu">
                    <input class="w3-radio" type="radio" value={{menu}} id="mealOption" name="mealOption"
                        [(ngModel)]="bookingDetailsDisplay.mealOption"> {{menu}}
                </span>
            </div>
        </div>

        <!-- <div class="form-group row">
            <div class="col-25">
                <label for="seatnos">Seat Numbers:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.seatnos" placeholder="Seat Nos" name="seatnos"
                    class="form-control" id="seatnos" required>
            </div>
        </div> -->

        <div class="form-group row">
            <div class="col-25">
                <label for="passengerDetails">Passenger Details:</label>
            </div>
            <div class="col-75">
                <span style="color: red;font-size: small">*Please click on save to save passenger details</span>
                <form [formGroup]="passengerForm">

                    <div formArrayName="passengers">
                        <table>
                            <tr>
                                <th style="width: 35%;">Name</th>
                                <th style="width: 15%;">Age</th>
                                <th>Gender</th>
                                <th>Remove</th>
                            </tr>
                            <tr *ngFor="let passenger of passengers.controls; let i=index">
                                <td [formGroupName]="i"><input type="text" formControlName="name"></td>
                                <td [formGroupName]="i"><input type="number" min="1" max="100" formControlName="age"></td>
                                <td [formGroupName]="i"><input type="radio" formControlName="gender" value="Male"> Male 
                                    <input type="radio" formControlName="gender" value="Female"> Female
                                </td>
                                <td [formGroupName]="i"><button class="w3-button w3-red" (click)="removePassenger(i)">Remove</button></td>
                            </tr>
                        </table>
                        <button class="w3-button w3-gray" (click)="addPassenger()">Add Passenger</button>
                    </div>
                    <button class="btn btn-success" type="submit" (click)="onSubmit()">Save Passenger(s)</button>
                </form>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="dateofTravel">Date of Travel:</label>
            </div>
            <div class="col-75">
                <input type="date" id="start" name="trip-start" value="" id="dateofTravel"
                    [(ngModel)]="bookingDetailsDisplay.dateofTravel" required>
                    <button class="btn btn-success" type="submit" (click)="checkAvailability()">Check Availability</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="fromPlace">From Place:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.fromPlace" placeholder="fromPlace"
                    name="fromPlace" class="form-control" id="fromPlace" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="toPlace">To Place:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.toPlace" placeholder="toPlace" name="toPlace"
                    class="form-control" id="toPlace" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="departureTime">Departure Time:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.departureTime" placeholder="departureTime"
                    name="departureTime" class="form-control" id="departureTime" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="arrivalTime">Arrival Time:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.arrivalTime" placeholder="arrivalTime"
                    name="arrivalTime" class="form-control" id="arrivalTime" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="discountCode">Discount Code:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.discountCode" placeholder="Discount Code"
                    name="discountCode" class="form-control" id="discountCode" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-25">
                <label for="ticketCost">Total Cost:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]="bookingDetailsDisplay.ticketCost" placeholder="Total Cost"
                    name="ticketCost" class="form-control" id="ticketCost" readonly>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-success" (click)="bookATicket(bookingDetailsDisplay.flightNumber)">Book
            Ticket >></button>
        <br><br>
    </form>
</div>
<br />