<div class="header">
    <a class="logo">Flight Booking Application</a>
    <div class="header-right">
        <a (click)="gotoFlightBooking()">New Booking</a>
        <a class="active" (click)="gotoView()">View Booking</a>
        <a (click)="logout()" style="color: red;font-weight: 500;">Sign Out</a>
    </div>
</div>



<div class="w3-container w3-responsive"
    style="padding-top: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <div *ngIf="status" style="background-color: lightgreen;">
        <h3 style="margin-left: 15px; font-size: larger;" style="color: green">{{message}}</h3>
    </div>

    <div *ngIf="!tableStatus" style="background-color: lightgoldenrodyellow;">
        <h3 style="margin-left: 15px; font-size: larger;" style="color: indianred">{{message}}</h3>
    </div>
    <table class="w3-table-all w3-card-4 w3-hoverable" *ngIf="tableStatus">
        <thead>
            <tr style="background-color: lightgray;font-size: medium;">
                <th>PNR No</th>
                <th>Flight Number</th>
                <!-- <th>Name</th> -->
                <!-- <th>Email Id</th> -->
                <th>Number of Seats</th>
                <th>Seat Type</th>
                <th>Meal Option</th>
                <!-- <th>Seat Nos</th> -->
                <th>Date of Travel</th>
                <th>From Place</th>
                <th>To Place</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Discount Applied</th>
                <th>Ticket Cost</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookingDetails;">
                <td>{{book.pnr}}</td>
                <td>{{book.flightNumber}}</td>
                <!-- <td>{{book.name}}</td> -->
                <!-- <td>{{book.emailId}}</td> -->
                <td>{{book.numberOfSeats}}</td>
                <td>{{book.seatType}}</td>
                <td>{{book.mealOption}}</td>
                <!-- <td>{{book.seatNos}}</td> -->
                <td>{{book.dateOfTravel}}</td>
                <td>{{book.fromPlace}}</td>
                <td>{{book.toPlace}}</td>
                <td>{{book.departureTime}}</td>
                <td>{{book.arrivalTime}}</td>
                <td>{{book.discountCode}}</td>
                <td>{{book.ticketCost | currency: 'INR'}}</td>
                <td><button class="w3-button w3-blue" (click)="downloadTicket(book)">Download</button></td>
                <td><button class="w3-button w3-red" (click)="deleteTicket(book)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<br />