<app-header></app-header>

<div class="row" style="margin-top: 7%;">
    <div class="column" style="padding-left: 22%;">
        <div class="card">
            <div class="containerCard">
                <h2>User Login</h2>
                <p>Book a Ticket</p>
                <p>View the booking history</p>
                <p>Cancel the ticket</p>
                <p>(Click below to login/register)</p>
                <button class="button button1"><a routerLink="/user" style="text-decoration: none;">User
                        Login</a></button>

            </div>
        </div>
    </div>
    <div class="column" style="padding-left: 8%;">
        <div class="card">
            <div class="containerCard">
                <h2>Admin Login</h2>
                <p>Register an Airline</p>
                <p>Update the Inventory</p>
                <p>Cancel the flight operation</p>
                <p>(Click below to login)</p>
                <button class="button button1"><a routerLink="/admin" style="text-decoration: none;">Admin
                        Login</a></button>
            </div>
         </div>
    </div>
</div>