<app-header></app-header>

<a routerLink="" style="text-decoration: none;margin-left:6%;float:left;"><button style="cursor: pointer;margin-top: 10px"
        class="w3-button w3-gray">Back</button></a>

<div class="column">
    <form>
        <div class="container" style="width: 75%;">
            <h1>Admin Login</h1>
            <p>Please enter your admin credentials.</p>
            <hr>
            <label for="username"><b>Username</b></label>
            <input type="text" [(ngModel)]="adminLogin.username" placeholder="Enter Username" name="username"
                class="form-control" id="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" [(ngModel)]="adminLogin.password" placeholder="Enter Password" name="password"
                class="form-control" id="password" required>
            <button type="submit" class="registerbtn" (click)="loginAdmin()">Login</button>
        </div>

    </form>
</div>